h1, ul, p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  list-style: inside;

  
}
p {
  font-size: 25px;
  color: rgb(51, 55, 56);
}
li {
  color:rgb(83, 83, 83);
  
}
ul{
  background-color: gainsboro;
}

body{
  background-color: gainsboro;
}

li:hover {
  color: gray;
}

li:active{
  color: aliceblue;
}

.nao-ordenada {
  list-style: none;
}
